# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['Date']=pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index('Date',inplace=True)

In [5]:
# Drop the date column
df=df.drop('date',axis=1)
df.head()

                station  prcp  tobs
Date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [9]:
# Filter data for desired months
filt1=(df.index.month==6)
June_data=df.loc[filt1,:]

filt2=(df.index.month==12)
Dec_data=df.loc[filt2,:]

In [10]:
# Identify the average temperature for June
Avg_June=June_data['tobs'].mean()
Avg_June

74.94411764705882

In [11]:
# Identify the average temperature for December
Avg_Dec=Dec_data['tobs'].mean()
Avg_Dec

71.04152933421226

In [12]:
# Create collections of temperature data
test_data=pd.merge(June_data,Dec_data, on='station',how='outer',suffixes=['June','Dec'])
test_data.head()

       station  prcpJune  tobsJune  prcpDec  tobsDec
0  USC00519397       0.0        78     0.04       76
1  USC00519397       0.0        78     0.00       74
2  USC00519397       0.0        78     0.00       74
3  USC00519397       0.0        78     0.00       64
4  USC00519397       0.0        78     0.00       64

In [13]:
stats.ttest_ind(June_data.tobs,Dec_data.tobs,equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

##### Type of ttest: Unpaired ttest. (data is for two different months)
##### Null hypothesis : mean difference between June Temperature and December Temperature is equal to 0.
##### As the p-value is less than 0.05, we can reject the null hypothesis i.e. there is significant difference in temperature in the months of June and December